extends ../_shared/_master
block body
    a.btn.btn-primary(href="/ticket/get-tickets")
        | Back
    != issueMessage
    if ticket
        h3
            | Group: 
            =ticket.group
        h3
            | Title: 
            =ticket.title
        strong
            | Status:
            =ticket.status
        p
            | Description:
            =ticket.description
        em 
            | Create Date: 
            strong 
                =ticket.createDate
        br
        em 
            | Last Change Date: 
            strong
                =ticket.lastChangeDate